#containerInput {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  position: relative;
}

#containerInput input {
  width: 40vw;
  height: 50px;
  padding: 10px;
  outline: 0;
  border: 2px solid #8600f0;
  border-radius: 4px;
  background: transparent;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 16px;
  color: #f7f7f7;
}

#containerInput textarea {
  width: 40vw;
  height: 150px;
  resize: none;
  padding: 10px;
  outline: 0;
  border: 2px solid #8600f0;
  border-radius: 4px;
  background: transparent;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 16px;
  color: #f7f7f7;
}

#containerInput textarea::-webkit-scrollbar {
  width: 2px;
}

#containerInput textarea::-webkit-scrollbar-track {
  background: #000012;
}

#containerInput textarea::-webkit-scrollbar-thumb {
  background-color: #7000c5;
}

#containerInput label {
  font-size: 14px;
  font-family: "Inter", Helvetica, sans-serif;
  padding: 0 4px;
  color: #f7f7f7d7;
  background-color: #000012;
  pointer-events: none;
  position: absolute;
  left: 13px;
  top: -10px;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #f7f7f7;
  font-size: 15px;
  font-weight: 400;
  width: 15vw;
  height: 15px;
  padding: 20px;
  cursor: pointer;
}

#allsides-2 {
  color: #8600f0;
  border-radius: 3px;
  background: linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 2px, 2px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}

#allsides-2:hover {
  --d: 100%;
}

.Typewriter__cursor {
  color: #f7f7f7;
  z-index: 5;
}

#title {
  color: #f7f7f7;
  font-size: 18px;
}

#color {
  filter: invert(13%) sepia(79%) saturate(7091%) hue-rotate(276deg)
    brightness(93%) contrast(119%);
}

.hidden {
  display: none;
}

.active {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000012;
  z-index: 10;
}

#project {
  width: 400px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media (max-width: 430px) {
  #project {
    width: 95vw;
  }
}

@media (max-width: 640px) {
  .sendMessage {
    display: flex;
  }

  .embla__slide {
    margin-right: 20px;
  }

  .embla__container {
    width: 100vw;
  }

  .btnEmblaMobile {
    display: flex;
  }

  #containerInput input {
    width: 80vw;
  }

  #containerInput textarea {
    width: 80vw;
  }

  #button {
    padding: 20px 50px;
    border-radius: 8px;
  }

  #containerInput {
    min-width: 80vw;
  }

  #project {
    width: 95vw;
  }
}

@media (min-width: 640px) {
  .contactForm {
    display: flex;
  }

  .btnEmblaDesktop {
    display: flex;
  }
}

@media screen and (max-width: 900px) and (min-width: 450px) {
  #button {
    padding: 15px 35px;
    border-radius: 8px;
  }

  #containerInput {
    min-width: 40vw;
  }
}

.Navbar {
  width: 80vw;
}

.SectionTitle {
  left: 100px;
}
